[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "bundle/vim-tomorrow-theme"]
	path = bundle/vim-tomorrow-theme
	url = git@github.com:chriskempson/vim-tomorrow-theme.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/syntasic"]
	path = bundle/syntasic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "bundle/syntastic-local-eslint.vim"]
	path = bundle/syntastic-local-eslint.vim
	url = git@github.com:mtscout6/syntastic-local-eslint.vim.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = git@github.com:cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = git@github.com:wavded/vim-stylus.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/vim-indent-object"]
	path = bundle/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
