[submodule "bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "bundle/vim-tomorrow-theme"]
	path = vim/bundle/vim-tomorrow-theme
	url = git@github.com:chriskempson/vim-tomorrow-theme.git
[submodule "bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule "bundle/vim-json"]
	path = vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "bundle/syntastic-local-eslint.vim"]
	path = vim/bundle/syntastic-local-eslint.vim
	url = git@github.com:mtscout6/syntastic-local-eslint.vim.git
[submodule "bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/scss-syntax.vim"]
	path = vim/bundle/scss-syntax.vim
	url = git@github.com:cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-stylus"]
	path = vim/bundle/vim-stylus
	url = git@github.com:wavded/vim-stylus.git
[submodule "bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "bundle/vim-lucius"]
	path = vim/bundle/vim-lucius
	url = git@github.com:jonathanfilip/vim-lucius.git
[submodule "bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "git-aware-prompt"]
	path = git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt.git
[submodule "bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/molokai"]
	path = vim/bundle/molokai
	url = git@github.com:fatih/molokai.git
[submodule "bundle/indentpython.vim"]
	path = vim/bundle/indentpython.vim
	url = https://github.com/vim-scripts/indentpython.vim.git
[submodule "bundle/SimpylFold"]
	path = vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "elm.vim"]
	path = vim/bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim
[submodule "bundle/django.vim"]
	path = vim/bundle/django.vim
	url = https://github.com/vim-scripts/django.vim
[submodule "bundle/phpcomplete.vim"]
	path = vim/bundle/phpcomplete.vim
	url = git@github.com:shawncplus/phpcomplete.vim.git
[submodule "bundle/tern_for_vim"]
	path = vim/bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "bundle/vim-css3-syntax"]
	path = vim/bundle/vim-css3-syntax
	url = git@github.com:hail2u/vim-css3-syntax.git
